<h1>Editing Department</h1>

<%= render 'form', department: @department %>

<%= link_to 'Show', company_department_path(@company, @department) %> |
<%= link_to 'Back', company_departments_path(@company) %>
